@import "./font.scss";

* {
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
  color: $main-font;
  box-sizing: border-box;
}

body {
  background: $bg-main;
}

.wrapper {
  max-width: $screen-lg;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;

  @media (max-width: $screen-md) {
    padding: 10px;
  }
}

.page {
  height: 100%;
}
